.towatch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 20px;

  @media #{$small} {
    margin: 0 auto;
    background-color: rgba(136, 82, 214, 0.43);
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
    box-shadow: 0px 0px 29px 0px rgba(26, 21, 21, 0.397);
  }

  .towatch__item {
    width: 80%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.658);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 29px 0px rgba(26, 21, 21, 0.597);
    height: 310px;

    @media #{$small} {
      max-width: 200px;
    }

    &-title {
      margin-bottom: 5px;
      color: #6e4ebb;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      height: 40px;
    }

    &-poster {
      width: 90px;
      border: 3px solid white;
      margin-bottom: 10px;
      cursor: pointer;
    }

    &-year {
      color: rgb(218, 81, 148);
      font-size: 10px;
    }

    &-time {
      margin-bottom: 10px;
      font-size: 10px;
      color: rgb(218, 81, 148);
    }

    &-rating {
      margin-bottom: 10px;
    }

    &-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .rmvbtn {
        background-color: rgb(218, 81, 148);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $primary-font;
        color: white;
        border: none;
        padding: 6px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: rgba(136, 82, 214, 0.43);
          transform: scale(0.9);
        }
      }
    }
  }
}

.watched {
  filter: grayscale(1);
  transition: 1s;
  cursor: pointer;

  &:hover {
    filter: grayscale(0);
  }
}

.towatch-counter {
  // background-color: rgba(236, 92, 255, 0.651);
  background: linear-gradient(270deg, #ec4ecada, #e4a4fccc, #48facdd0, #d176e68a, #f164b6d0);
  background-size: 800% 800%;
  color: white;
  font-size: 10px;
  line-height: 20px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  animation: gradient 20s ease infinite;

  @media #{$small} {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
    right: 2%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  span {
    font-weight: bold;
    color: rgb(86, 15, 95);
    font-size: 15px;
  }

  @keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}

.MuiRating-root {
  label {
    color: #7B1FA2  !important;
  }
}