@import "./styles/exportAll.scss";

body {
  // background-color: rgb(53, 53, 71);
}

html {
  --thumbBG: rgb(148, 69, 223);
}

.App {
  height: 100vh;
  margin: 0;
  padding-top: 200px;

  @media #{$small} {
    padding-top: 90px;
  }
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url("./assets/images/shapes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.9;
}
