@import './styles/exportAll.scss';

body {
  background-color: rgb(53, 53, 71);
}

.App {
  text-align: center;
  // background: url('./assets/images/road.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 90px;
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url('./assets/images/road.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

